<div class="text-center border">
  <h2>Title of the App: {{title}}</h2>
  <p>Username:{{{username}}}</p>
  <p>Password:{{password}}</p>
  <button class="btn btn-sm btn-danger" data-id="{{password.id}}">DELETE</button>
</div>