<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Enter new web account</h3>


    <div class="col-md-6">
      <div class="card account-card">
        <div class="card-body">
          <form class="form new-password-form">
            <div class="form-group">
              <label class="card-title" for="title">App name:</label>
              <input class="form-input" type="text" id="title" name="title" />
            </div>
            <div class="form-group">
              <label for="username">Username for App:</label>
              <input class="form-input" type="text" id="username" name="username" />
            </div>
            <div class="form-group">
              <label for="password">Password for App:</label>
              <input type="text" class="form-input" id="password" name="password">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Create</button>
            </div>
          </form>
          {{!-- <h5>App Name</h5>
          <p class="card-text">Username: some_username</p>
          <input type="password" class="form-control password-field">
          <button type="button" class="btn btn-secondary btn-sm show-password-btn">
            <i class="fas fa-eye-slash"></i> </button>
          <button type="button" class="btn btn-secondary btn-sm copy-password-btn">Copy</button>
          <button type="button" class="btn btn-info btn-sm edit-password-btn">Edit</button>
          <button type="button" class="btn btn-danger btn-sm delete-password-btn">Delete</button>
          --}}
        </div>
      </div>

    </div>

  </div>
</div>

{{#if passwords.length}}
<div class="col-md-6 password-list">
  <h3>Current Apps on file:</h3>

  {{#each passwords as |password|}}
  <div class="row mb-2">
    <div class="col-md-8">
      <h4><a href="/password/{{password.id}}">{{password.title}}</a></h4>
      <p>Username: {{password.username}}</p>
    </div>
    <div class="col-md-4">

    </div>
  </div>
  {{/each}}
</div>
{{/if}}
</div>



<script src="./js/profile.js"></script>